
<div class="dash">
  <div class="dash_content">
    <h5>Produkinfo <i *ngIf="!isLoaded" class="fa fa-spinner fa-pulse fa-1x fa-fw" ></i></h5>
    <div class="content">
      <div class="product_search">
        <div class="row">
          <div class="col-md-12">
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="search" aria-describedby="search" (keyup)="getQuery($event)" placeholder="Varenummer / Varenanvn">
              </div>
            </form>
          </div>

          <div class="col-md-12" *ngIf="resultsTotal > 0">
            <table class="custom_table">
              <thead class="thead-inverse">
              <tr>
                <th>sku</th>
                <th>Name</th>
                <th>Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let result of results">
                <td>{{ result._source.sku }}</td>
                <td>{{ result._source.name }}</td>
                <td><a class="btn btn-primary btn-sm" [routerLink]="'/products/'+result._source.id" (click)="setResultsLocal(result._source)">Details</a></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


