<h1 class="page_title">{{ title }}</h1>
<hr>

<div class="row">

  <div class="col-md-7">
    <div class="row">
      <div class="dash" ngClass="col-md-6">
        <div class="dash_content">
          <h5>Antall order siste time <i *ngIf="!isLoadedOrders" class="fa fa-spinner fa-pulse fa-1x fa-fw" ></i></h5>
          <div class="content">
            <h1 *ngIf="orders">{{ orders.last_hour }}</h1>
          </div>
        </div>
      </div>
      <div class="dash" ngClass="col-md-6">
        <div class="dash_content">
          <h5>Antall order siste minuttt <i *ngIf="!isLoadedOrders" class="fa fa-spinner fa-pulse fa-1x fa-fw" ></i></h5>
          <div class="content">
            <h1 *ngIf="orders">{{ orders.last_minute }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="dash" ngClass="col-md-12">
        <div class="dash_content">
          <h5>Siste prisoppdatering <i *ngIf="!isLoadedOrders" class="fa fa-spinner fa-pulse fa-1x fa-fw" ></i></h5>
          <div class="content">
            <h1 *ngIf="pos_last_update">{{ pos_last_update }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="dash" ngClass="col-md-6">
        <div class="dash_content">
          <h5>Antall pa gsport.no <i *ngIf="!isLoadedGA" class="fa fa-spinner fa-pulse fa-1x fa-fw" ></i></h5>
          <div class="content">
            <h1 *ngIf="visitors_gsport">{{ visitors_gsport }}</h1>
          </div>
        </div>
      </div>
      <div class="dash" ngClass="col-md-6">
        <div class="dash_content">
          <h5>Antall pa intersport.no <i *ngIf="!isLoadedGA" class="fa fa-spinner fa-pulse fa-1x fa-fw" ></i></h5>
          <div class="content">
            <h1 *ngIf="visitors_intersport">{{ visitors_intersport }}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-5">
    <div class="dash">
      <div class="dash_content">
        <h5>Siste apne order <i *ngIf="!isLoadedOrders" class="fa fa-spinner fa-pulse fa-1x fa-fw" ></i></h5>
        <div class="content">
          <table class="custom_table" *ngIf="orders">
            <tr><th>Order ID</th><th>Name Surname</th></tr>
            <tr *ngFor="let order of orders.last_opened"><td>{{order.id}}</td><td>{{order.name}}</td></tr>
          </table>
        </div>
      </div>
    </div>

    <app-products #dash></app-products>
  </div>

</div>


