body {
  padding-top: 5rem;
}

h1.page_title {
  text-align: center;
}
table.custom_table {
  width: 100%;

  td, th {
    border: 1px solid #B4B7B7;
    padding: 5px;
  }
}

.dash_content {
  min-height: 200px;
  background-color: #E7E7E7;
  padding: 30px 20px;
  font-size: 14px;
  margin-bottom: 30px;
}