<div class="row">

  <div class="col-md-4">
    <img [src]="product.image" alt="image">
  </div>
  <div class="col-md-8">

    <h2>{{ product.name }}</h2>
    <p>id: {{ product.id }}</p>
    <p>Sku: {{ product.sku }}</p>
    <p>Price: {{ product.price }}</p>
    <p [innerHTML]="product.description"></p>
  </div>

</div>
<hr>
<div class="row">
  <div class="col-md-3"><p>Path: {{ product.path }}</p></div>
  <div class="col-md-3"><p>Url: <a target="_blank" [href]="product.url">{{ product.url }}</a></p></div>
  <div class="col-md-3"><p>Type: {{ product.type }}</p></div>
  <div class="col-md-3"><p>Status: {{ product.status }}</p></div>
  <div class="col-md-3"><p>Type ID: {{ product.type_id }}</p></div>
  <div class="col-md-3"><p>visibility: {{ product.visibility }}</p></div>
</div>

